body {
    background-color: #000921;
    font-family: 'Sour Gummy', sans-serif;
    color: #bacdff;
}

.title-container {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: -10%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.location-containers {
    position: absolute;
    width: 100%;
    top: 42%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.locations {
    font-size: 2rem;
    font-weight: bold;
    color: #bacdff;
}

.location,
.date,
.separator {
    margin: 0;
}

.separator {
    line-height: 1;
    display: inline-block;
}

.location-separator {
    font-size: 2rem;
    color: #bacdff;
}

.subtitle-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 4rem;
    font-weight: 400;
}
