@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
        format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
        format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

body {
    background-color: #000921;
    font-family: 'Phantom Sans', sans-serif;
    color: #bacdff;
}

.title-container {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: -10%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.location-containers {
    position: absolute;
    width: 100%;
    top: 42%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.locations {
    font-size: 2rem;
    font-weight: bold;
    color: #bacdff;
}

.location,
.date,
.separator {
    margin: 0;
}

.separator {
    line-height: 1;
    display: inline-block;
}

.location-separator {
    font-size: 2rem;
    color: #bacdff;
}