@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Sour Gummy', cursive;
    
    font-weight: 400;
    margin: 0;

    overflow-x: hidden;

}

html {
    /* background: linear-gradient(
    0deg,
    #2e65f6 0%,
    #1c37c3 60%,
    #000048 65%,
    #000016 90%
    ); */

    background-image: url('images/Background.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;

    overflow-x: hidden;
    min-height: 1100vh; /* Ensure enough height for scrolling */
}

#logo {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 70vw;
}

#logo-section {
    position: absolute;
    top: calc(100*100vw/1510);;
    left: 0;
    width: 100vw;
    z-index: 0; /* Behind other content */
    overflow-x: hidden;
    scale: calc(1/(100vw/1510px))
}

.full-width-image-bg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0; /* Behind other content */
}


#call-to-action-section {
    position: absolute;
    top: 35vw;
    left: 20vw;
    z-index: 1; /* Above the background image */
    width: 60vw;
    background: #c7d6fc;
    border-radius: 50px;
    max-height: 15vw;
    overflow: hidden;
  
    /* outer border */
    border: 8px solid #d7e2ff;
  
    /* inner border */
    box-shadow: inset 0 0 0 8px #011a5e;
  
    padding: 40px;              /* so content doesn't touch the borders */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#call-to-action-section h1 {
    text-align: center;
    margin: 0 0 0 0;
    font-size: 4vw;
    font-weight: 400;
    color: #011a5e;
}

.call-to-action-button {
    background-color: #011a5e;
    color: white;
    border-radius: 50px;
    padding: 1vh 2vw;
    text-align: center;
    cursor: pointer;
    font-size: 3vw;
    border: none;
    transition: transform 0.2s ease;
}

#ce-este-starship-section {
    position: absolute;
    top: 54vw;
    left: 0;
    width: 100%;
    z-index: 1; /* Behind other content */
}

#ce-este-starship-section h1 {
    text-align: center;
    margin: 0 0 .3em 0;
    font-size: 8vw;
    font-weight: 600;
    color: #9eb7fb;
}

.call-to-action-button:hover {
    transform: scale(1.05);
}

#moon-image {
    position: absolute;
    top: 12vw;
    right: 0;
    width: 30%;
    z-index: 1; /* Above the background image */;
}

@media (max-width: 1024px) {
    #moon-image {
        right: 0;
        width: 25%;
    }
}

@media (max-width: 768px) {
    #moon-image {
        right: 0;
        width: 20%;
    }
}
#text-bubble {
    position: absolute;
    top: 10vw;
    left: 20%;
    width: 55%;
    z-index: 1; /* Above the background image */;
}

#text-bubble-text {
    position: absolute;
    top: 11vw;
    left: 28%;
    width: 40%;
    z-index: 1; /* Above the background image */;
    font-size: 3vw;
    font-weight: 400;
    color: #011a5e;
}


#text-bubble-text p {
    margin: 0;
    padding: 0;
}

#astronaut-image {
    position: absolute;
    top: 20vw;
    left: 3%;
    width: 23vw;
    z-index: 1; /* Above the background image */;
}

#stars-between-sections {
    position: absolute;
    top: 167%;
    left: 5%;
    width: 90%;
    z-index: 1; /* Above the background image */;
}

#satellite-image {
    position: absolute;
    top: 100vw;
    right: 2%;
    width: 15vw;
    z-index: 1; /* Above the background image */;
}

@media (max-width: 1024px) {
    #satellite-image {
        width: 12vw;
    }
}

#stars-planet-section {
    position: absolute;
    top: 238%;
    left: 10%;
    width: 80%;
    z-index: 1; /* Above the background image */;
}

#planet-section {
    position: absolute;
    top: 98vw;
    left: 0;
    width: 100%;
    z-index: 1; /* Above the background image */;
}

#planet-section h1 {
    text-align: center;
    margin: 0 0 .3em 0;
    font-size: 6.5vw;
    font-weight: 600;
    color: #9eb7fb;
}

#cluj-napoca-mars {
    position: absolute;
    top: 5vw;
    left: 0vw;
    width: 60vw;
    z-index: 1; /* Above the background image */;
}

#dej-venus {
    position: absolute;
    top: 20vw;
    right: 0%;
    width: 45vw;
    z-index: 1; /* Above the background image */;
}

#beclean-neptune {
    position: absolute;
    top: 55vw;
    left: 5vw;
    width: 50vw;
}

#wind {
    position: absolute;
    top: 210vw;
    left: 0;
    width: 100%;
    z-index: 1; /* Above the background image */;
}

#intrebari-generale-cloud {
    position: absolute;
    top: 200vw;
    left: 0;
    width: 100%;
    z-index: 1; /* Above the background image */;
}

#small-clouds-container {
    position: absolute;
    top: 242vw;
    left: 0;
    width: 50%;
    z-index: 1; /* Above the background image */;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40vw;
}

.small-cloud-container {
    position: relative;
    width: 100%;
    
    z-index: 1; /* Above the background image */;
}

.small-cloud-title {
    position: absolute;
    top: 7vw;
    left: 4.4vw;
    font-size: 3.1vw;
    font-weight: 600;
    color: #011a5e;
    z-index: 1;
    text-align: center;
    width: 80%;
}

.small-cloud-text {
    position: absolute;
    width: 80%;
    top: 16vw;
    left: 5vw;
    font-size: 3vw;
    font-weight: 400;
    color: #011a5e;
    z-index: 1;
    text-align: center;
}

.small-cloud{
    position: absolute;
    width: 100%;
}

#ce-trebuie-sa-aduc-cloud .small-cloud-text {
    top: 12vw;
}

#are-rost-sa-vin-daca-nu-stiu-programare-cloud .small-cloud-text {
    font-size: 2.2vw;
    top: 15vw;
}

#are-rost-sa-vin-daca-nu-stiu-programare-cloud .small-cloud-title {
    font-size: 2.5vw;
    top: 8vw;
}

#mai-am-si-alte-intrebari-cloud .small-cloud-text {
    top: 11vw;
}

#small-clouds-container-right {
    position: absolute;
    top: 265vw;
    right: 0;
    width: 50%;
    z-index: 1; /* Above the background image */;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40vw;
}

#cat-costa-cloud .small-cloud-text {
    top: 10vw;
}

#cat-costa-cloud .small-cloud-title {
    top: 10vh;
}

#ce-evenimente-ati-mai-organizat-cloud .small-cloud-text {
    font-size: 2.2vw;
    top: 16vw;
}

#ce-evenimente-ati-mai-organizat-cloud .small-cloud-title {
    font-size: 3vw;
    top: 11vh;
}

#ce-pot-crea-la-starship-cloud .small-cloud-text {
    top: 15vw;
}

#ce-pot-crea-la-starship-cloud .small-cloud-title {
    top: 10vw;
}

@media (max-width: 900px) {
    #logo{
        width: 80vw;
        left: 10vw;
    }

    #call-to-action-section {
        width: 80vw;
        top: 39vw;
        left: 10vw;
    }

    #ce-este-starship-section {
        top: 58vw;
    }
    #text-bubble-text {
        top: 13vw;
    }
    #text-bubble{
        top: 12vw;
    }
}

@media (max-width: 830px) {
    #logo{
        width: 90vw;
        left: 5vw;
    }

    #call-to-action-section {
        width: 80vw;
        top: 43vw;
    }

    #ce-este-starship-section {
        top: 62vw;
    }
}

@media (max-width: 780px) {
    #logo{
        width: 100vw;
        left: 0;
    }

    #call-to-action-section {
        width: 90vw;
        top: 47vw;
        left: 5vw;
    }

    #ce-este-starship-section {
        top: 66vw;
    }

    #text-bubble-text {
        top: 15vw;
        font-size: 3.4vw;
        width: 48vw;
    }

    #text-bubble{
        top: 14vw;
        width: 60vw;
    }
    #satellite-image {
        top: 105vw;
        width: 12vw;
    }
    #planet-section {
        top: 110vw;
    }
}

@media (max-width: 700px) {
    #displacement-container {
        position: absolute;
        top: 40vw;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    #displacement-container2 {
        position: absolute;
        top: 40vw;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    html {
        background-image: url('images/Background-mobile.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        background-color: transparent;
    }

    #logo {
        top: 10vw;
    }

    #call-to-action-section {
        top: 60vw;
        left: 10vw;
        width: 80vw;
        max-height: 24vw;
    }

    #call-to-action-section h1 {
        font-size: 5.5vw;
    }

    .call-to-action-button {
        font-size: 5vw;
    }

    #ce-este-starship-section {
        top: 105vw;
    }

    #moon-image {
        top: 3vw;
        width: 20vw;
    }

    #text-bubble-text {
        top: 18vw;
        font-size: 4vw;
        left: 22vw;
        width: 60vw;
    }

    #text-bubble{
        top: 16vw;
        left: 12vw;
        width: 75vw;
    }

    #astronaut-image {
        top: 35vw;
        width: 20vw;
        left: -3vw; 
    }

    #planet-section {
        top: 160vw;
    }

    #satellite-image {
        top: 145vw;
        width: 14vw;
    }

    #cluj-napoca-mars {
        top: 5vw;
        width: 80vw;
    }

    #dej-venus {
        top: 40vw;
        width: 60vw;
    }
    
    #beclean-neptune {
        top: 70vw;
        width: 70vw;
    }

    #intrebari-generale-cloud {
        top: 300vw;
    }

    #small-clouds-container {
        top: 340vw;
        width: 80vw;
        gap: 100vw
    }

    #small-clouds-container-right {
        top: 390vw;
        width: 80vw;
        gap: 100vw;
    }

    .small-cloud-title {
        font-size: 5vw;
        left: 8vw;
        top: 12vw;
    }

    .small-cloud-text {
        font-size: 4.5vw;
        top: 26vw;
        left: 7vw;
    }

    #cat-costa-cloud .small-cloud-title {
        top: 10vw;
    }

    #cat-costa-cloud .small-cloud-text {
        top: 18vw;
    }

    #ce-trebuie-sa-aduc-cloud .small-cloud-title {
        top: 10vw;
    }

    #ce-trebuie-sa-aduc-cloud .small-cloud-text {
        top: 18vw;
    }

    #ce-evenimente-ati-mai-organizat-cloud .small-cloud-title {
        top: 10vw;
        font-size: 4.5vw;
    }

    #ce-evenimente-ati-mai-organizat-cloud .small-cloud-text {
        top: 24vw;
        font-size: 3vw;
    }

    #are-rost-sa-vin-daca-nu-stiu-programare-cloud .small-cloud-title {
        top: 12vw;
        left: 7vw;
        font-size: 4vw;
    }

    #are-rost-sa-vin-daca-nu-stiu-programare-cloud .small-cloud-text {
        top: 24vw;
        font-size: 3.2vw;
    }

    #ce-pot-crea-la-starship-cloud .small-cloud-title {
        top: 16vw;
    }

    #ce-pot-crea-la-starship-cloud .small-cloud-text {
        top: 26vw;
    }
    
    #mai-am-si-alte-intrebari-cloud .small-cloud-title {
        top: 13vw;
        font-size: 5vw;
    }

    #mai-am-si-alte-intrebari-cloud .small-cloud-text {
        top: 22vw;
        font-size: 4vw;
    }
    
}

@media (max-width: 500px) {
    #displacement-container3 {
        position: absolute;
        top: 15vw;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #astronaut-image {
        top: 47vw;
        width: 25vw;
        left: -5vw;
        transform: rotate(-30deg);
    }

    #call-to-action-section {
        width: 90vw;
        left: 5vw;

         /* outer border */
    border: 4px solid #d7e2ff;
        
    /* inner border */
    box-shadow: inset 0 0 0 4px #011a5e;

    max-height: 35vw;  
    }   

    #call-to-action-section h1 {
        font-size: 6.5vw;
    }

    .call-to-action-button {
        font-size: 6vw;
        padding: 2vw 4vw;
    }

    #text-bubble-text {
        top: 18vw;
        left: 16vw;
        font-size: 5vw;
        width: 70vw;
    }

    #cluj-napoca-mars {
        top: 0vw;
        width: 80vw;
    }

    #dej-venus {
        top: 50vw;
    }

    #beclean-neptune {
        top: 85vw;
    }
}